<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_secretmode"
        android:label="SecretMode"
        android:roundIcon="@drawable/ic_secretmode"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecretMode">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />

        <activity
            android:name=".verification.FinalVerificationActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:theme="@style/Theme.SecretMode" />

        <activity
            android:name=".BubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:exported="false"
            android:resizeableActivity="true"
            android:theme="@style/Theme.SecretMode" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
